.main {
	display: flex;
	&__leftside{
		flex: 0 0 152px;
		background: #061125;
		display: flex;
		flex-direction:column;
		span{
			color: aliceblue;
			font-size: 12px;
			margin: 0px 0px 0px 23px;
			padding: 15px 0px 0px 0px;
		}
		button{
		width: 105.73px;
		height: 24.12px;
		margin: 10px 0px 0px 23px;
		background: #72B63B;
		border-radius: 5px;
		color: aliceblue;
		border: none;
		text-align: center;
		font-size: 12px;
		}
	}
	&__rightside{
		flex: 1 1 auto;
		h2 {
			margin: 19px 0px 0px 31px;
			font-family: 'Roboto';
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
			color: #72B63B;
		}
		.card{
			margin: 0px 0px 0px 31px;
		}
	}
}